
/* Index */

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }

.content {
    margin-left: 100px;
    margin-right: 100px;
}

.content img {
    width: 100%;
}

.content-bottom {
    width: 100%;
    background: #c4c4c4 20%;
    text-align: center;
}

.content-bottom h1 {
    padding-top: 50px;
    font-family: Mirza;
    font-style: normal;
    font-weight: 600;
    font-size: 60px !important;
    color: #48a7ff !important;
    border: none;
}

.content-bottom h2 {
    font-family: Mirza;
    font-style: normal;
    font-weight: bold;
    font-size: 35px !important;
    line-height: 25px;
    /* or 71% */

    text-align: center;
    color: #d2daff;
}

.sign-up {
    text-align: center;
    padding-bottom: 30px;
}

.sign-up span {
    font-family: Manrope;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 110%;
    color: #48a7ff;
}

span a {
    color: #23802c;
}

.content .btn {
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 231px;
    height: 46px;
    text-transform: uppercase;
    background-image: linear-gradient(#48a7ff 100%, #48a7ff 100%, #64d8fd 100%);
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
}

@media (max-width: 968.98px) {
    .content-bottom h1 {
        padding-top: 40px;
        font-size: 40px !important;
    }

    .content-bottom h2 {
        font-size: 30px !important;
    }
}

@media (max-width: 767.98px) {

    .content {
        margin: 0%;
    }

    .content img {
        position: absolute;
        top: 0;
    }

    .content-bottom {
        position: initial;
        top: 0;
        height: 100vh;
    }

    .content-bottom .bottom-container {
        padding-top: 23vh;
    }

    .content-bottom h1 {
        padding-top: 30px;
        font-size: 30px !important;
    }

    .content-bottom h2 {
        font-size: 25px !important;
    }

    .sign-up {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding-top: 30px;
        border-top: 2px solid #64d8fd;
    }
}

/* Enrollment */

/* .enrollment{
    position: absolute;
    width: 100%;
    margin-right: 0;
} */

.enrollment::-webkit-scrollbar {
    display: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    width: 100%;
    height: 70px;
    background: #3bbdda;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 968.98px)  {
    .header {
        width: 100vw;
    }
}

.header img {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 25px;
    left: 20px;
    top: 10px;
}

.header h1 {
    margin-left: 80px;
    font-size: 20px;
    color: white;
}

.header a.btn {
    position: absolute;
    top: 15px;
    right: 50px;
    color: white;
    font-size: 20px;
}

.form {
    position: relative;
    top: 140px;
}

.form .form-header {
    position: relative;
    text-align: center;

    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    /* or 34px */

    color: #1c81de;
}

.form .form-container {
    width: 800px;
    margin-left: 20%;
    margin-top: 30px;
    margin-right: 20%;
    margin-bottom: 30px;
    background: #ffffff;
    border: 0.5px solid #64d8fd;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 1600px;
}

.form-container .form-head {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 110%;
    /* or 20px */

    color: #000000;
    text-transform: uppercase;
}

input.form-input {
    border: none;
    border-bottom: 2px solid #64d8fd;
    width: 100%;
    margin-bottom: 25px;
}

input.form-input:focus {
    outline: none;
}

.female {
    position: absolute;
    right: 20px;
    top: 25px;
}

.label-ip {
    position: absolute;
    top: -15px;
}

.check-indigenous {
    position: absolute;
    top: -15px;
    right: 20px;
}

.space {
    height: 310px;
}

.zipcode {
    width: 10%;
    background: rgba(100, 216, 253, 0.23);
    border: 0.5px solid #64d8fd;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.zipcode::-webkit-outer-spin-button,
.zipcode::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.balik-aral-h {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 110%;
    /* or 20px */

    color: #000000;
    text-transform: uppercase;
}

.space-s {
    height: 200px;
}

.senior-high span {
    margin-right: 50px;
}

#first-sem,
#second-sem {
    margin-right: 5px;
}

.sem label {
    margin-right: 50px;
}

select#track {
    border: none;
    background: none;
    border-bottom: 2px solid #64d8fd;
}

select#track:focus {
    outline: none;
    background: none;
    border: none;
}

select#strand {
    border: none;
    border-bottom: 2px solid #64d8fd;
}

.certify .form-row {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 110%;
    /* or 13px */

    color: #82869a;
}

.enroll-date {
    width: 30%;
}

.submit {
    margin-left: 30%;
    margin-right: 30%;
}

.submit .btn {
    width: 300px;
    height: 55px;
    margin-top: 20px;

    background: linear-gradient(
        180deg,
        #48a7ff 0%,
        #48a7ff 0.01%,
        #64d8fd 100%
    );
    border-radius: 10px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 767.98px) {
    .header {
        width: 100%;
    }

    .header h1 {
        visibility: hidden;
    }

    .header img {
        left: 5px;
    }

    .form {
        width: 100%;
    }

    .form .form-container {
        width: 100vw;
        margin-right: 2%;
        margin-left: 2%;
        ;
    }
}

/* Sign in */
.sign-in {
    width: 50%;
}

.sign-in .header {
    width: 50%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.header .heading {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    /* or 40px */

    color: #282c40;
}

.header .sub-heading {
    font-family: Manrope;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
    /* or 18px */

    color: rgba(40, 44, 64, 0.6);
}

form.sign-in-form {
    width: 40%;
    margin-left: 8%;
}

form input.btn {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    background: linear-gradient(
        180deg,
        #48a7ff 0%,
        #48a7ff 0.01%,
        #64d8fd 100%
    );
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    /* or 17px */

    color: #ffffff;

    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

form input.btn:active {
    outline: none;
    border: none;
}

input.btn:focus {
    outline: none;
}

.side-d {
    width: 50%;
    height: 100vh;
    background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(55, 60, 86, 0.05) 0%,
            rgba(40, 44, 64, 0.05) 100%
        ),
        #3bbdda;
}

.side-d .system-name {
    margin-top: 70px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 190%;
    /* or 68px */

    text-align: center;

    color: #ffffff;
}

.image img {
    width: 350px;
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 100px;
}

/* Dashboard */

.dashboard-header .user {
    position: absolute;
    top: 20px;
    right: 170px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    /* or 28px */

    color: #ffffff;
}

.dashboard-container {
    position: relative;
    margin-left: 90px;
    margin-top: 90px;
    margin-right: 90px;
}

.dashboard-content h3 {
    text-align: center;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    /* or 28px */

    color: #259b69;
}

.card {
    width: 100%;
    height: 311px;

    background: linear-gradient(
        180deg,
        rgba(75, 201, 240, 0.56) -2.54%,
        rgba(196, 196, 196, 0) 97.46%
    );
}

.card img {
    margin: 30px 40% 30px 40%;
    width: 70px;
    height: auto;
}

.card-body {
    width: 90%;
    height: 160px;
    margin-left: 5%;
    margin-right: 5%;
    background: rgba(196, 196, 196, 0.2);
}

.card-body .student-name {
    text-align: center;
    padding: 10px;
}

.student-name h5 {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    /* or 20px */

    color: #000000;
}

.card-body .details {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.details p {
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 200%;
    /* or 26px */

    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: rgba(78, 190, 215, 0.33);
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    /* or 15px */

    color: #000000;
}

thead {
    height: 45px;
}

tbody {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 110%;
    /* or 14px */

    color: #000000;
}

/* Not Enrolled */
.error-content {
    align-content: center;
    margin-top: 90px;
    /* height: 100vh; */
    text-align: center;
}

.error-content .message {
    position: relative;
    margin-top: 50vh;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 190%;
    /* or 28px */

    color: #e01723;
}
